@font-face {
  font-family: "Okra";
  src: url("fonts/Okra-Light.ttf"), /* IE9 Compat Modes */ url("fonts/Okra-Medium.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("fonts/Okra-SemiBold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("fonts/Okra-ExtraLight.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("fonts/Okra-Thin.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("fonts/Okra-Regular.ttf") format("truetype"); /* Legacy iOS */
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  padding: 0px 16px;
  margin-top: 20px;
}

.navbar-default .navbar-nav > li > a {
  color: #525252;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #3e43b9;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a::before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: #3e43b9;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 50%;
  right: 0;
  top: 100%;
  transform: translate(-3px, -50%);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #3e43b9;
}

.navbar-btn {
  background-color: #3e43b9;
  border-color: #3e43b9;
  border-radius: 60px;
  margin-left: 30px;
  padding: 6px 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.navbar-btn:hover {
  background-color: #3e43b9;
  border-color: #3e43b9;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(-1px);
}

.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active {
  background-color: #101a56 !important;
  border-color: #101a56 !important;
  outline: none !important;
}

.mob_logo {
  width: 80%;
}

body {
  padding-top: 70px;
  font-family: "Okra", sans-serif !important;
  background: #f0f4f9;
}

.notify-row .badge {
  position: absolute;
  right: 4px;
  top: 8px;
  z-index: 100;
}

.navbar-brand {
  float: left;
  font-size: 18px;
  height: 51px;
  line-height: 21px;
  padding: 18px 0;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #000;
  cursor: pointer;
}

.wrapper {
  display: inline-block;
  margin-top: 35px;
  padding: 0 16px 20px;
  width: 100%;
}

.mt-10 {
  margin-top: 10px;
}

.p-0 {
  padding: 0px;
}

.big_nu {
  color: #fff;
  display: block;
  font-size: 65px;
  font-weight: bold;
  line-height: 55px;
  text-align: left;
}

.sub_text {
  color: #fff;
  font-size: 16px;
  margin-left: 6px;
  text-transform: uppercase;
}

.inner_box {
  padding: 12px 0px;
}

#main {
  transition: margin-left 0.5s;
}

.login_box {
  width: 58%;
  margin: 90px auto;
}

.login_box .icon_login {
  width: 250px;
}

.login_box .sb_text {
  color: #abb4bc;
  margin: 20px 0px;
  font-size: 14px;
  display: block;
  width: 100%;
}

.login_box .form-group {
  width: 100%;
}

.login_box .form-group .form-control {
  border-color: #add1ef;
  background-color: rgba(255, 255, 255, 0.65);
  height: 45px;
  padding: 6px 15px;
  border-radius: 50px;
}

.login_box .login_btn {
  background-color: #3e43b9;
  color: #fff;
  width: 100%;
  border-radius: 55px;
  height: 45px;
}

.login_box .login_btn:hover {
  background-color: #3e43b9;
  box-shadow: 0px 8px 15px rgba(34, 202, 232, 0.86);
  transform: translateY(-1px);
}

.login_box .forget_link {
  color: #3e43b9;
  font-size: 12px;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 30px;
}

.slider_box {
  width: 70%;
  margin: 90px auto;
}

.slider_box .slider_image {
  height: 300px !important;
  margin: 0px auto;
}

.slider_box .slider_title {
  color: #101a56;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
}

.slider_box .slider_sb_text {
  color: #8e9091;
  font-size: 14px;
  text-align: center;
}

.slider_box .carousel-indicators {
  bottom: -35px;
}

.slider_box .carousel-indicators li {
  background-color: #cacdce;
  border-color: #cacdce;
}

.slider_box .carousel-indicators .active {
  background-color: #3e43b9;
  border-color: #3e43b9;
}

.slider_box blockquote {
  padding: 10px 60px;
  border-left: none;
  width: 85%;
  margin: 0px auto;
}

.features_box .f_box_title {
  display: block;
  color: #5a6780;
  text-align: center;
  margin: 20px 0px;
  font-weight: bold;
}

.features_box .f_icon_box {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 1px 2px 16px 3px #d8dadead;
  padding: 20px;
  margin: 20px;
  min-height: 110px;
}

.features_box .f_image img {
  width: 35px;
  vertical-align: unset;
}

.features_box .f_image {
  width: 50px;
}

.features_box .f_b_content {
  width: 80%;
}

.features_box .f_image,
.features_box .f_b_content {
  display: inline-block;
  vertical-align: top;
}

.features_box .f_i_title {
  display: block;
  color: #434b52;
  font-weight: bolder;
  font-size: 16px;
  margin-bottom: 5px;
}

.features_box .f_i_subtext {
  display: block;
  color: #6d6d6d;
  font-weight: lighter;
  font-size: 13px;
}

@media only screen and (min-width: 1280px) and (max-width: 1920px) {
  .navbar-collapse {
    padding: 12px 0 !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .navbar-right {
    float: right !important;
    margin-right: 0px;
  }
  .slider_box {
    width: 100%;
  }
  .login_box {
    width: 80%;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 15px 10px;
  }
}
@media only screen and (min-width: 1026px) and (max-width: 1278px) {
  .mob_logo {
    margin-left: 12px;
    margin-top: -12px;
    width: 150px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar-right {
    float: right !important;
    margin-right: 0px;
  }
  .slider_box {
    width: 100%;
  }
  .login_box {
    width: 80%;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 15px 10px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 765px) {
  .dropdown-menu.extended.profile-drop-down,
  .dropdown-menu.extended {
    width: 100% !important;
    border: 1px solid #eee !important;
    margin: 0px !important;
    box-shadow: none !important;
  }
  .navbar-right {
    margin-right: 0px;
  }
  .slider_box {
    width: 100%;
  }
  .login_box {
    width: 80%;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 15px 10px;
  }
  .slider_box .slider_title {
    font-size: 12.9px;
  }
  .slider_box .slider_sb_text {
    font-size: 12px;
  }
  .slider_box blockquote {
    width: 100%;
  }
  .navbar-btn {
    margin-left: 11px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .mob_logo {
    margin-left: 12px;
    margin-top: -12px;
    width: 150px;
  }
  .navbar-toggle {
    background-color: #3e43b9;
    border-radius: 0px;
    border-color: #3e43b9;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #0ab678;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default {
    background-color: #ffffff;
  }
}

footer {
  background-color: #e7edf4;
  min-height: 350px;
  background-image: url("../images/footer_bg_img.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  border-top: 1px solid #D8E1EF;
}
.footerleft {
  margin-top: 50px;
  padding: 0;
  padding-right: 38px;
}
.logofooter {
  margin-bottom: 20px;
  font-size: 25px;
  color: #898b8e;
  font-weight: 700;
}
.social-links-footer {
  list-style: none;
  padding: 0;
}
.social-links-footer li {
  float: left;
  line-height: 40px;
}
.social-links-footer li a {
  color: #3e43b9;
}
.footerleft p {
  color: #898b8e;
  margin-bottom: 50px;
}
.footerright {
  background-color: #f0f4f9;
  border: 1px solid #dbe1ea;
  padding: 45px;
  margin-top: 50px;
  border-radius: 8px;
  background-image: url("../images/footer_image.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.footerright h1 {
  color: #3e43b9;
  margin-top: 0;
  font-size: 36px;
}
.footerright p {
  color: #898b8e;
}
.footerright h2 {
  font-size: 16px;
  columns: #52547e;
  margin-top: 0;
}
.footerright a {
  color: #3e43b9;
  font-size: 14px;
}
.footerright .footer_send_ic {
  margin-left: 5px;
  margin-top: -30px;
}
.copyright {
  min-height: 40px;
  background-color: #252640;
}
.copyright p {
  text-align: center;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 0px;
}
