@font-face {
  font-family: "Okra";
  src: url("../fonts/Okra-Light.ttf");
}
@font-face {
  font-family: "Okra-SemiBold";
  src: url("../fonts/Okra-SemiBold.ttf");
}
@font-face {
  font-family: "Okra-Regular";
  src: url("../fonts/Okra-Regular.ttf");
}
@font-face {
  font-family: "Harabara Mais Demo";
  src: url("../fonts/Harabara_Mais.otf");
}
@font-face {
  font-family: "Harabara Mais Demo";
  src: url("../fonts/Harabara_Mais.woff2") format("woff2"), url("../fonts/Harabara_Mais.otf") format("otf"),
    url("../fonts/Harabara_Mais.svg#logo") format("svg");
}

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
  padding: 0px 16px;
  margin-top: 20px;
  transition: margin ease-out 1s;
}
.darkHeader .mob_logo {
  width: 65%;
  transition: width ease-in-out 1s;
  font-family: "Harabara Mais Demo";
}

.darkHeader {
  background-color: #000000;
  border-bottom: 1px solid #272626;
  -webkit-transition: background-color 500ms ease-in-out 1s;
  -moz-transition: background-color 500ms ease-in-out 1s;
  -o-transition: background-color 500ms ease-in-out 1s;
  transition: background-color 500ms ease-in-out 1s;
  margin-top: 0;
  transition: margin ease-in-out 1s;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  padding: 15px 30px;
  cursor: pointer;
  font-size: 16px;
  position: relative;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #97bf3b;
  background-color: transparent;
}

.navbar-default .navbar-nav > .active > a::before {
  content: "";
  height: 8px;
  width: 8px;
  background-color: #97bf3b;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 50%;
  right: 0;
  top: 82%;
  transform: translate(-3px, -50%);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #97bf3b;
}

.navbar-btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #000000;
  border-radius: 60px;
  margin-left: 30px;
  padding: 6px 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.navbar-btn:hover {
  background-color: #97bf3b;
  border-color: #97bf3b;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  transform: translateY(-1px);
}

.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active {
  background-color: #101a56 !important;
  border-color: #101a56 !important;
  outline: none !important;
}

.mob_logo {
  width: 80%;
  font-family: "Harabara Mais Demo";
  transition: width ease-in-out 1s;
}

body {
  padding-top: 70px;
  font-family: "Okra", sans-serif !important;
  background: #000000;
}

.notify-row .badge {
  position: absolute;
  right: 4px;
  top: 8px;
  z-index: 100;
}

.navbar-brand {
  float: left;
  font-size: 18px;
  height: auto;
  line-height: 21px;
  padding: 18px 0;
  position: relative;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #000;
  cursor: pointer;
}

.wrapper {
  display: inline-block;
  margin-top: 35px;
  padding: 0px 0px 0px 0px;
  width: 100%;
}

.mt-10 {
  margin-top: 10px;
}

.p-0 {
  padding: 0px;
}

.big_nu {
  color: #fff;
  display: block;
  font-size: 65px;
  font-weight: bold;
  line-height: 55px;
  text-align: left;
}

.sub_text {
  color: #fff;
  font-size: 16px;
  margin-left: 6px;
  text-transform: uppercase;
}

.inner_box {
  padding: 12px 0px;
}

.login_box {
  width: 58%;
  margin: 90px auto;
}

.login_box .icon_login {
  width: 250px;
}

.login_box .sb_text {
  color: #abb4bc;
  margin: 20px 0px;
  font-size: 14px;
  display: block;
  width: 100%;
}

.login_box .form-group {
  width: 100%;
}

.login_box .form-group .form-control {
  border-color: #add1ef;
  background-color: rgba(255, 255, 255, 0.65);
  height: 45px;
  padding: 6px 15px;
  border-radius: 50px;
}

.login_box .login_btn {
  background-color: #3e43b9;
  color: #fff;
  width: 100%;
  border-radius: 55px;
  height: 45px;
}

.login_box .login_btn:hover {
  background-color: #3e43b9;
  box-shadow: 0px 8px 15px rgba(34, 202, 232, 0.86);
  transform: translateY(-1px);
}

.login_box .forget_link {
  color: #3e43b9;
  font-size: 12px;
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 30px;
}

.slider_box {
  width: 70%;
  margin: 90px auto;
}

.slider_box .slider_image {
  height: 300px !important;
  margin: 0px auto;
}

.slider_box .slider_title {
  color: #101a56;
  font-size: 18px;
  text-align: center;
  text-transform: capitalize;
}

.slider_box .slider_sb_text {
  color: #8e9091;
  font-size: 14px;
  text-align: center;
}

.slider_box .carousel-indicators {
  bottom: -35px;
}

.slider_box .carousel-indicators li {
  background-color: #cacdce;
  border-color: #cacdce;
}

.slider_box .carousel-indicators .active {
  background-color: #3e43b9;
  border-color: #3e43b9;
}

.slider_box blockquote {
  padding: 10px 60px;
  border-left: none;
  width: 85%;
  margin: 0px auto;
}

.features_box .f_box_title {
  display: block;
  color: #5a6780;
  text-align: center;
  margin: 20px 0px;
  font-weight: bold;
}

.features_box .f_icon_box {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 1px 2px 16px 3px #d8dadead;
  padding: 20px;
  margin: 20px;
  min-height: 110px;
}

.features_box .f_image img {
  width: 35px;
  vertical-align: unset;
}

.features_box .f_image {
  width: 50px;
}

.features_box .f_b_content {
  width: 80%;
}

.features_box .f_image,
.features_box .f_b_content {
  display: inline-block;
  vertical-align: top;
}

.features_box .f_i_title {
  display: block;
  color: #434b52;
  font-weight: bolder;
  font-size: 16px;
  margin-bottom: 5px;
}

.features_box .f_i_subtext {
  display: block;
  color: #6d6d6d;
  font-weight: lighter;
  font-size: 13px;
}

@media only screen and (min-width: 1280px) and (max-width: 1920px) {
  .navbar-collapse {
    padding: 12px 0 !important;
  }
  .navbar-right {
    float: right !important;
    margin-right: 0px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {
  .navbar-right {
    float: right !important;
    margin-right: 0px;
  }
  .slider_box {
    width: 100%;
  }
  .login_box {
    width: 80%;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 15px 10px;
  }
}
@media only screen and (min-width: 1026px) and (max-width: 1278px) {
  .mob_logo {
    margin-left: 12px;
    margin-top: -12px;
    width: 80px;
  }
  .btn_group{
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .navbar-right {
    float: right !important;
    margin-right: 0px;
  }
  .slider_box {
    width: 100%;
  }
  .login_box {
    width: 80%;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 15px 10px;
  }
  .btn_group{
    flex-direction: column;
  }
}

@media only screen and (min-width: 320px) and (max-width: 765px) {
  .dropdown-menu.extended.profile-drop-down,
  .dropdown-menu.extended {
    width: 100% !important;
    border: 1px solid #eee !important;
    margin: 0px !important;
    box-shadow: none !important;
  }
  .navbar-right {
    margin-right: 0px;
  }
  .slider_box {
    width: 100%;
  }
  .login_box {
    width: 80%;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 15px 10px;
  }
  .slider_box .slider_title {
    font-size: 12.9px;
  }
  .slider_box .slider_sb_text {
    font-size: 12px;
  }
  .slider_box blockquote {
    width: 100%;
  }
  .navbar-btn {
    margin-left: 11px;
  }
}
.navbar-default .navbar-collapse {
  border-color: #1a1a1a;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .navbar-brand {
    height: 51px;
  }
  .mob_logo {
    margin-left: 0px;
    margin-top: -7px;
    width: 65%;
  }
  .navbar-default {
    margin-top: 0px;
  }
  .navbar-toggle {
    background-color: #fff;
    border-radius: 44px;
    border-color: #fff;
    padding: 10px 7px;
  }
  .navbar-default .navbar-toggle:hover,
  .navbar-default .navbar-toggle:focus {
    background-color: #fff;
    border-color: #fff;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #000;
  }
  .navbar-default {
    background-color: #000;
  }
}

footer {
  background-color: #000;
  min-height: 350px;
  border-top: 1px solid #000;
}
.footerleft {
  margin-top: 50px;
  padding: 0;
  padding-right: 38px;
}
.logofooter {
  margin-bottom: 20px;
  font-size: 25px;
  color: #898b8e;
  font-weight: 700;
}
.social-links-footer {
  list-style: none;
  padding: 0;
}
.social-links-footer li {
  float: left;
  line-height: 40px;
}
.social-links-footer li a {
  color: #fff;
}
.footerleft p {
  color: #d4d5d6;
  margin-bottom: 50px;
}
.footerright {
  background-color: #1a1a1a;
  border: 1px solid #1a1a1a;
  padding: 45px;
  margin-top: 50px;
  border-radius: 8px;
  text-align: center;
}
.footerright h3 {
  color: #ffffff;
  margin-top: 0;
  font-size: 36px;
  font-family: "Okra-SemiBold";
}
.footerright p {
  color: #bbbbbb;
}
.footerright h2 {
  font-size: 16px;
  columns: #52547e;
  margin-top: 0;
  color: #ececec;
}
.footerright a {
  color: #bbbbbb;
  font-size: 14px;
}
.footerright .footer_send_ic {
  /* margin-left: 5px; */
  /* margin-top: -30px; */
}
.copyright {
  min-height: 40px;
  background-color: #0a0a0a;
}
.copyright p {
  text-align: center;
  color: #fff;
  padding: 10px 0;
  margin-bottom: 0px;
}
.call_to_action {
  background-color: #1a1a1a;
  padding: 40px;
  color: #ffffff;
  background-image: url("../images/call_to_action_icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border-radius: 8px;
  margin-top: 4em;
  margin-bottom: 4em;
  box-shadow: 0px 20px 26px rgb(0 0 0 / 16%);
}
.call_to_action .upper-title {
  margin: 0;
  font-size: 14px;
  font-weight: 100;
  text-transform: uppercase;
}
.call_to_action .main-title {
  margin: 0px;
  margin-bottom: 20px;
  margin-top: 5px;
  position: relative;
  font-family: "Okra-SemiBold";
}
.call_to_action .main-title::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 70px;
  background-color: #97bf3b;
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 128%;
  transform: translate(0px, -50%);
}
.call_to_action p {
  color: #aeafb8;
  margin-bottom: 0px;
}
.btn-call-to-action-box {
  position: relative;
  min-height: 106px;
}
.call_to_action .btn-call-to-action {
  background-color: #ffffff;
  border-radius: 100px;
  padding: 14px 48px;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
.call_to_action .btn-call-to-action:hover {
  background-color: #97bf3b;
  color: #ffffff;
  box-shadow: 4px 4px 6px 4px rgb(32 31 95 / 47%);
}
.call_to_action .btn-call-to-action:focus {
  outline: none;
  background-color: #878ad6;
  color: #3d3ebc;
  box-shadow: 4px 4px 6px 4px rgb(32 31 95 / 47%);
}
.homepage-content {
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}
.other-content {
  height: 410px !important;
}
#earth {
  height: 200px;
  background-image: url("../images/world.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.home-box h2 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
}
.home-box h3 {
  font-size: 34px;
  margin-top: 0;
  margin-bottom: 30px;
  position: relative;
  font-family: "Okra-SemiBold";
}
.home-box h3::before {
  content: "";
  height: 4px;
  width: 70px;
  background-color: #ffffff;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 123%;
  transform: translate(-50%, 0%);
}
.home-box p {
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  width: 64%;
  margin: 0px auto;
}
.home-box .btn-home {
  background-color: #ffffff;
  border-radius: 100px;
  padding: 14px 48px;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 1px;
  color: #000;
  margin-top: 3em;
  outline: none;
}
.home-box .btn-home:hover {
  background-color: #97bf3b;
  color: #ffffff;
}
.home-box .btn-home:focus {
  outline: none;
  background-color: #878ad6;
  color: #3d3ebc;
}
.Scrolling_icon {
  display: block;
  margin-top: 3em;
}
.Scrolling_icon img {
  width: 90px;
}
.ux-approach-box {
  min-height: 650px;
  background-color: #000;
  padding: 150px 0px;
  color: #fff;
}
.h_banner {
  background-color: #1a1a1a;
  color: #fff;
  width: 26%;
  margin-bottom: -64px;
  z-index: 0;
  position: relative;
  border-top-right-radius: 110px;
  border-bottom-right-radius: 110px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.h_banner h3 {
  font-family: "Okra-SemiBold";
  font-weight: 900;
  font-size: 17px;
  line-height: 22px;
  margin: 0px;
}
.h_banner h4 {
  font-family: "Okra-SemiBold";
  font-weight: 900;
  font-size: 47px;
  margin: 0px;
  color: #97bf3b;
}
.sec_title_box {
  text-align: center;
  position: relative;
  margin-bottom: 5em;
}
.sec_title {
  text-transform: capitalize;
  margin: 0px;
  margin-bottom: 22px;
  position: relative;
  display: inline-block;
  margin-bottom: 1.2em;
  font-size: 24px;
}
.sec_title:before {
  position: absolute;
  width: 30%;
  height: 2px;
  background-color: orange;
  content: "";
  bottom: -15px;
  right: 50%;
  transform: translate(50%, -50%);
}
.sec_title_arrow {
  width: 40px;
  margin-bottom: -17px;
  position: relative;
  margin-left: 20px;
}
.sec_sub_text {
  color: #b9bac2;
  width: 29em;
  display: block;
  margin: 0px auto;
  font-size: 16px;
}
.ux_flow {
  width: 70%;
}
.ux_flow_content {
  padding: 5em;
  background-color: #1a1a1a;
  font-size: 14px;
  text-align: left;
  width: 80%;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.ux_flow_content::before {
  position: absolute;
  background-image: url("../images/ux_design_element.svg");
  width: 376px;
  height: 185px;
  background-repeat: no-repeat;
  content: "";
  z-index: -9;
  top: -185px;
  right: 0;
}
.ux_flow_content p {
  font-size: 16px;
}
.ux_flow_content a {
  color: #97bf3b;
  font-size: 16px;
  margin-top: 2em;
}
.create-brand-box {
  min-height: 650px;
  position: relative;
  padding: 150px 0px;
}
.create-brand-box::before {
  background-image: url("../images/design_el.svg");
  width: 100%;
  height: 190px;
  background-repeat: no-repeat;
  content: "";
  z-index: 1;
  top: -15%;
  position: absolute;
  background-size: contain;
  background-position: center right;
}
.brand_title {
  width: 21em;
  margin-bottom: 5em;
}

.flow-box {
  padding: 20px 20px;
  border: 1px solid #cfd5dd;
  min-height: 270px;
}
.flow-box h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  font-family: "Okra-SemiBold";
  color: #3d3ebc;
}
.flow-box ul {
  padding-left: 17px;
  font-size: 14px;
}
.flow-box ul li {
  margin-bottom: 10px;
}
.create-brand-box .col-sm-3:nth-child(2) .flow-box {
  margin-top: 5em;
}
.create-brand-box .col-sm-3:nth-child(3) .flow-box {
  margin-top: 10em;
}
.create-brand-box .col-sm-3:nth-child(4) .flow-box {
  margin-top: 15em;
}
.sayhello_popup .modal-content {
  background-color: #1a1a1a;
  color: #fff;
}
.sayhello_popup .modal-header,
.sayhello_popup .modal-footer {
  border-color: #1a1a1a;
  text-align: center;
}
.sayhello_popup .modal-header .close {
  color: #000;
  background-color: #ffffff;
  opacity: 1;
  padding: 4px 10px;
  border-radius: 30px;
  font-size: 25px;
  font-weight: 100;
}
.sayhello_popup .btn-home {
  background-color: #3d3ebc;
  border-radius: 100px;
  padding: 14px 48px;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1px;
  color: #fff;
  outline: none;
  text-align: center;
}
.sayhello_popup .btn-home:hover {
  background-color: #878ad6;
  color: #3d3ebc;
}
.sayhello_popup .btn-home:focus {
  outline: none;
  background-color: #878ad6;
  color: #3d3ebc;
}
.sayhello_popup .modal-body {
  padding: 15px 60px;
}
.sayhello_content {
  padding: 0px;
  margin-bottom: 8px;
  border-radius: 8px;
  background-image: url(../images/footer_image.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 20%;
}
.sayhello_content h3 {
  color: #ffffff;
  margin-top: 0;
  font-size: 36px;
  font-family: "Okra-SemiBold";
}
.sayhello_content p {
  color: #898b8e;
}
.sayhello_content h2 {
  font-size: 16px;
  color: #6b6b6b;
  margin-top: 20px;
  margin-bottom: 7px;
}
.sayhello_content a {
  color: #ffffff;
  font-size: 14px;
}
.sayhello_content .footer_send_ic {
  margin-left: 5px;
  margin-top: -30px;
}
.sayhello_content_f {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.contact_form label {
  color: #52547e;
  font-size: 14px;
  margin-bottom: 15px;
  margin-top: 1em;
}
.contact_form .form-control {
  padding: 20px 12px;
  border-color: #9496c3;
}
.skill_design_el {
  margin-top: 10em;
}
.skill_title {
  width: 50%;
  margin-bottom: 4em;
}
.skill_box {
  padding: 5em;
  background-color: #21223b;
  font-size: 14px;
  text-align: left;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0px auto;
  margin-bottom: 2em;
}
.skill_box:nth-child(1) {
  margin-top: 2em;
}
.skill_box h3 {
  margin: 0px;
  margin-bottom: 1em;
  font-size: 18px;
  font-family: "Okra-SemiBold";
}
.skill_box ul {
  list-style: disc;
  padding: 0;
  padding-left: 16px;
}
.skill_box ul li {
  margin-bottom: 10px;
}
.comp_logo {
  width: 100%;
  height: 50px;
  margin: 0px auto;
  display: block;
  margin-bottom: 2em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.5em;
}
.comp_logo_png {
  width: 100%;
  margin: 0px auto;
  display: block;
  margin-bottom: 2em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1.5em;
}
.role_title {
  font-size: 14px;
  margin: 0;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em;
  margin-bottom: 1em;
}
.role_title span {
  display: block;
  font-size: 14px;
  margin: 10px 0px;
  font-weight: bold;
  font-family: "Okra-medium";
}
.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.project_work_box {
  background-color: #1a1a1a;
  font-size: 14px;
  text-align: left;
  min-height: 350px;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  margin-bottom: 2em;
  width: 100%;
}
.project_work_box .project_Image {
  width: 100%;
  border-radius: 8px;
}
.project_work_box h2 {
  font-family: "Okra-SemiBold";
  text-transform: capitalize;
  margin-bottom: 0em;
  margin-top: 1em;
}
.project_work_box p {
  color: #82839a;
  font-size: 14px;
}
.project_work_box a {
  color: #878ad6;
  font-size: 16px;
  margin-top: 2em;
}
.tool-used {
  margin: 1em 0em;
}
.tool-used span {
  background-color: #212020;
  margin-right: 5px;
  font-size: 12px;
  padding: 5px 13px;
  display: inline-block;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
  margin-bottom: 5px;
}
.drop {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background-color: #ffff;
  position: absolute;
  top: -13%;
  left: -15.4%;
  transform: translate(120%, -800%) scaleX(0.5);
  animation: move 4s cubic-bezier(1, 0.04, 0.74, 0.2) infinite;
  z-index: -1;
}

@keyframes move {
  0% {
    transform: translate(120%, -800%) scaleX(0.2);
    height: 60px;
  }
  30% {
    transform: translate(120%, -200%);
    height: 30px;
  }
  70% {
    transform: translate(120%, 100%);
    height: 30px;
  }
  100% {
    transform: translate(120%, 800%) scaleX(0.2);
    height: 60px;
  }
}

.hero-title {
  background: linear-gradient(90deg, #4ab1f1, #ff7c51 55%, #f2b14d 75%, #f2b14d);

  background-size: 100%;
  background-repeat: repeat;
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 
.cursor {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--width);
  height: var(--height);
  transform: translate(
    calc(var(--x) - var(--width) / 2),
    calc(var(--y) - var(--height) / 2)
  );
  transition: 150ms width cubic-bezier(0.39, 0.575, 0.565, 1),
    150ms height cubic-bezier(0.39, 0.575, 0.565, 1),
    150ms transform cubic-bezier(0.39, 0.575, 0.565, 1);
  z-index: 1035;
  pointer-events: none;
  will-change: transform;
}
@media (pointer: fine) {
  .cursor {
    display: block;
  }
}
.cursor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--radius);
  border: 2px solid #3e43b9;
  opacity: var(--scale);
  -webkit-transform: scale(var(--scale));
  transform: scale(var(--scale));
  transition: 300ms opacity cubic-bezier(0.39, 0.575, 0.565, 1),
    300ms transform cubic-bezier(0.39, 0.575, 0.565, 1),
    150ms border-radius cubic-bezier(0.39, 0.575, 0.565, 1);
}

html:not(html:hover) .cursor::after {
  opacity: 0;
  transform: scale(0);
}

body{
  cursor: none;
} */

@media only screen and (min-width: 320px) and (max-width: 765px) {
  .navbar-brand {
    height: 51px;
  }
  .drop {
    top: -39%;
    left: -17.4%;
  }
  .project_work_box {
    width: 100%;
  }
  .home_article_box {
    width: 100% !important;
  }
  .btn_group {
    display: flex;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center;
    margin-top: 20px;
  }
  .contact_group_f {
    flex-direction: column;
  }
  #earth {
    height: 0px;
  }
  .home-box ::after,
  .ux_flow_content::before {
    content: none;
  }
  .home-box h3 {
    font-size: 25px;
  }
  .home-box p {
    width: 100%;
  }
  .h_banner {
    width: 90%;
    padding: 14px 0px;
  }
  .h_banner h3 {
    font-family: "Okra-SemiBold";
    font-weight: 900;
    font-size: 16px;
    line-height: 31px;
    margin: 0;
  }
  .ux_flow_content {
    width: 100%;
    margin-top: 2em;
    padding: 30px;
  }
  .create-brand-box::before {
    top: -100px;
  }
  .create-brand-box .col-sm-3:nth-child(2) .flow-box,
  .create-brand-box .col-sm-3:nth-child(3) .flow-box,
  .create-brand-box .col-sm-3:nth-child(4) .flow-box {
    margin-top: 1.5em;
  }
  .create-brand-box {
    padding-bottom: 20px;
  }
  .call_to_action {
    padding: 45px ​30px 20px 30px;
    margin: 15px;
    background-size: 30%;
    background-position: right bottom;
  }
  footer {
    padding: 15px 15px;
    background-position: bottom right;
    background-size: 40%;
    padding-bottom: 15px;
  }
  .footerright {
    padding: 20px;
    margin-top: 0px;
    background-size: 80px;
    background-position: right bottom;
  }
  .footerleft {
    padding: 0px 0px;
    margin-bottom: 0px;
    margin-top: 20px;
    text-align: center;
  }
  .footerleft p {
    margin-bottom: 20px;
  }
  .social-links-footer {
    list-style: none;
    padding: 0;
  }
  .social-links-footer li {
    float: none;
    display: inline-block;
  }
  .sec_sub_text {
    width: 100%;
  }
  .ux_flow {
    width: 100%;
  }
  .homepage-content {
    height: 570px;
  }
  .navbar-default .navbar-nav > .active > a::before {
    left: 5px;
    top: 50%;
  }
  .navbar-default .navbar-nav > li > a {
    padding: 15px;
  }
}

.home-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.home_article_box {
  padding: 2em;
  background-color: #1a1a1a;
  font-size: 14px;
  text-align: left;
  min-height: 350px;
  position: relative;
  z-index: 1;
  border-radius: 8px;
  margin-bottom: 2em;
  width: calc(50% - 15px);
}
.c_t_a_b h2 {
  font-size: 14px;
  color: #757575;
  text-transform: uppercase;
  margin: 0px;
}
.c_t_a_b h3 {
  position: relative;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 40px;
  font-family: "Okra-SemiBold";
  text-transform: uppercase;
  color: #ffffff;
}
.c_t_a_b h3::before {
  position: absolute;
  width: 80px;
  height: 4px;
  content: "";
  bottom: -18px;
  left: 0;
  border-radius: 20px;
}
.c_t_sub_text {
  font-size: 16px;
  color: #aeaeae;
  line-height: 30px;
  display: block;
  margin-bottom: 6em;
  margin-top: 4em;
}
.c_t_a_b h3.g_b::before {
  background-color: #97bf3b;
}
.c_t_a_b h3.y_b::before {
  background-color: #f2b14d;
}
.c_t_a_b h3.b_b::before {
  background-color: #4493e2;
}
.c_t_a_b h3.p_b::before {
  background-color: #bf3bab;
}
.h_a_img {
  width: 100%;
}
.process_box {
}
.process_box h3 {
  margin-bottom: 18px;
  margin-top: 3em;
  font-size: 18px;
}
.text-o {
  color: #f2b14d;
}
.text-g {
  color: #97bf3b;
}
.text-b {
  color: #4493e2;
}
.text-p {
  color: #bf3bab;
}
.process_box ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.process_box ul li {
  margin-bottom: 5px;
  font-size: 16px;
  color: #aeaeae;
}
.btn-c {
  background-color: #ffffff;
  border-radius: 100px;
  padding: 14px 48px;
  text-align: center;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
  color: #000;
  margin-top: 1em;
  margin-bottom: 1em;
  outline: none;
}
.btn-c:hover {
  background-color: #97bf3b;
  color: #ffffff;
}
.btn-c-p {
  background-color: #ffffff;
  border-radius: 100px;
  padding: 14px 48px;
  text-align: center;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
  color: #000;
  margin-top: 1em;
  margin-bottom: 1em;
  outline: none;
}
.btn-c-p:hover {
  background-color: #97bf3b;
  color: #ffffff;
}
.btn-c-s {
  background-color: #1a1a1a;
  border-radius: 100px;
  padding: 14px 48px;
  text-align: center;
  font-size: 14px;
  font-weight: 100;
  letter-spacing: 1px;
  color: #fff;
  margin-top: 1em;
  margin-bottom: 1em;
  outline: none;
  border: 1px solid #ffff;
}
.btn-c-s:hover {
  background-color: #ffffff;
  color: #97bf3b;
}

.c_t_sub_text_pro {
  font-size: 16px;
  color: #aeaeae;
  line-height: 30px;
  display: block;
  margin-bottom: 0em;
  margin-top: 4em;
}
.btn_group {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  margin-top: 20px;
}
.btn-sp-right {
  margin-right: 10px;
}
.contact_group_f {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont_content {
  margin-right: 40px;
  text-align: right;
}

.about_me_dark {
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1a1a1a;
  border-radius: 4px;
  padding: 40px;
  margin-top: 10em;
}
.ab_sub_text {
  margin-bottom: 15px;
  font-size: 16px;
  color: #aeaeae;
}
.about_left_content {
  width: 48%;
}
.about_middle {
  width: 1px;
  background-color: #707070;
  height: 100vh;
  margin: 0px 50px;
  position: relative;
}
.about_middle::before {
  content: url(../images/ic_about.png);
  position: absolute;
  left: 50%;
  top: 33%;
  transform: translate(-50%, -50%);
  width: 85px;
}
.about_middle::after {
  content: url(../images/ic_about.png);
  position: absolute;
  left: 50%;
  top: 66%;
  transform: translate(-50%, -50%);
  width: 85px;
}
.about_right_content {
  width: 48%;
}
.about_content_f {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 60px;
  display: block;
}
.about_content_f h2 {
  font-size: 16px;
  color: #6b6b6b;
  margin-top: 20px;
  margin-bottom: 7px;
}
.about_content_f a {
  color: #ffffff;
  font-size: 14px;
}
.abt_img {
  width: 100%;
  margin-top: 60px;
}
.ic_quotes {
  width: 30px;
  margin-bottom: 15px;
}

.work {
  background-color: #1a1a1a;
  padding: 5em;
  border-radius: 8px;
}
.work_timeline {
  color: #fff;
  font-family: "Okra", sans-serif !important;
  margin-top: 6em;
}

img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}
.img-rounded {
  border-radius: 3px;
}
.img-thumbnail {
  background-color: #fff;
  border: 1px solid #ededf0;
  border-radius: 3px;
  display: inline-block;
  height: auto;
  line-height: 1.428571429;
  max-width: 100%;
  moz-transition: all 0.2s ease-in-out;
  o-transition: all 0.2s ease-in-out;
  padding: 2px;
  transition: all 0.2s ease-in-out;
  webkit-transition: all 0.2s ease-in-out;
}
.img-circle {
  border-radius: 50%;
}
.timeline-centered {
  position: relative;
  margin-bottom: 30px;
  font-family: "Okra", sans-serif !important;
}

.timeline-centered:before,
.timeline-centered:after {
  content: " ";
  display: table;
}

.timeline-centered:after {
  clear: both;
}

.timeline-centered:before,
.timeline-centered:after {
  content: " ";
  display: table;
}

.timeline-centered:after {
  clear: both;
}

.timeline-centered:before {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  background: #3c3939;
  left: 50%;
  top: 20px;
  bottom: 20px;
  margin-left: 0px;
}

.timeline-centered .timeline-entry {
  position: relative;
  width: 50%;
  float: right;
  margin-bottom: 70px;
  clear: both;
}

.timeline-centered .timeline-entry:before,
.timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}

.timeline-centered .timeline-entry:after {
  clear: both;
}

.timeline-centered .timeline-entry:before,
.timeline-centered .timeline-entry:after {
  content: " ";
  display: table;
}

.timeline-centered .timeline-entry:after {
  clear: both;
}

.timeline-centered .timeline-entry.begin {
  margin-bottom: 0;
}

.timeline-centered .timeline-entry.left-aligned {
  float: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
  margin-left: 0;
  margin-right: -16px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-time {
  left: auto;
  right: -100px;
  text-align: left;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-icon {
  float: right;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
  margin-left: 0;
  margin-right: 70px;
}

.timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after {
  left: auto;
  right: 0;
  margin-left: 0;
  margin-right: -9px;
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.timeline-centered .timeline-entry .timeline-entry-inner {
  position: relative;
  margin-left: -14px;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before,
.timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner:before,
.timeline-centered .timeline-entry .timeline-entry-inner:after {
  content: " ";
  display: table;
}

.timeline-centered .timeline-entry .timeline-entry-inner:after {
  clear: both;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
  position: absolute;
  left: -100px;
  text-align: right;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span {
  display: block;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:first-child {
  font-size: 15px;
  font-weight: bold;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-time > span:last-child {
  font-size: 12px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
  background: #fff;
  color: #737881;
  display: block;
  width: 30px;
  height: 30px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-align: center;
  -moz-box-shadow: 0 0 0 5px #f5f5f6;
  line-height: 30px;
  font-size: 15px;
  float: left;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-primary {
  background-color: #303641;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-secondary {
  background-color: #bf3bab;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-success {
  background-color: #fd8350;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-info {
  background-color: #97bf3b;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-warning {
  background-color: #f2b14d;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.bg-danger {
  background-color: #cc2424;
  color: #fff;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
  position: relative;
  background: #272424;
  padding: 1.7em;
  margin-left: 70px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 9px 9px 0;
  border-color: transparent #272424 transparent transparent;
  left: 0;
  top: 10px;
  margin-left: -9px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2,
.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
  color: #a2a2a2;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  margin: 0;
  line-height: 1.428571429;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
  margin-top: 15px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  position: relative;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 a:before {
  position: absolute;
  width: 40px;
  height: 2.5px;
  content: "";
  bottom: -8px;
  left: 0px;
  border-radius: 20px;
  background-color: #96c02d;
}

.timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  -ms-filter: alpha(opacity=60);
  filter: alpha(opacity=60);
  margin-left: 0px;
  font-size: 14px;
  display: block;
  margin-top: 15px;
  color: #fff;
}

.company-logo img {
  height: 43px;
  margin-bottom: 10px;
  border: 1px solid #3a3737;
  padding: 8px 20px;
  background-color: #fff;
  border-radius: 58px;
}

@media only screen and (min-width: 320px) and (max-width: 765px) {
  .work {
    padding: 2em;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    margin-left: 0;
  }
  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label {
    margin-right: 0;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-time {
    display: none;
  }
  .timeline-centered .timeline-entry {
    width: 100%;
    margin-bottom: 35px;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner {
    margin-left: 0px;
  }
  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner {
    margin-right: 0px;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    display: block;
    float: none !important;
    margin: 0px auto;
    margin-bottom: 10px;
  }
  .timeline-centered .timeline-entry.left-aligned .timeline-entry-inner .timeline-label:after,
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
    display: none;
  }
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
    display: block;
    margin-left: 0;
  }
  .about_me_dark{
    flex-direction: column;
    padding: 2em;
  }
  .about_middle{
    display: none;
  }
  .about_left_content, .about_right_content{
    width: 100%;
  }
}

.line {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  margin: 0;
  display: block;
}

.line path {
  stroke: #ffffff;
  fill: none;
}
